@import "../../global.scss";

.portfolio{
    background-color: white;
    display: flex;

    .container{
        overflow: auto;
        &::-webkit-scrollbar{
            display: none;
        }
    }

}